<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atiurin.sampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.atiurin.sampleapp.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atiurin.sampleapp.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.atiurin.sampleapp.activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.atiurin.sampleapp.activity.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.atiurin.sampleapp.activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.atiurin.sampleapp.activity.UiElementsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.atiurin.sampleapp.activity.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.atiurin.sampleapp.activity.CustomClicksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.atiurin.sampleapp.activity.ComposeElementsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.atiurin.sampleapp.activity.ComposeListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.atiurin.sampleapp.activity.ComposeListWithPositionTestTagActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.atiurin.sampleapp.activity.ComposeSecondActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>